<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Block sysctl machdep.cpu.features VMM flag</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AFZNTQA=</data>
				<key>Replace</key>
				<data>AFhYWAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Block sysctl kern.hv_vmm_present call</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>aHZfdm1tX3ByZXNlbnQ=</data>
				<key>Replace</key>
				<data>aHZfeHh4X3ByZXNlbnQ=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
